[submodule ".registry"]
	path = .registry
	url = https://github.com/vallejosgroup/vallejosgroup.r-universe.dev
	branch = HEAD
[submodule "bayefdr"]
	path = bayefdr
	url = https://github.com/vallejosgroup/bayefdr
[submodule "landmaRk"]
	path = landmaRk
	url = https://github.com/vallejosgroup/landmaRk
[submodule "libdr"]
	path = libdr
	url = https://github.com/VallejosGroup/Lothian-IBDR
	subdir = libdr
